<nav class="navbar navbar-expand-lg bg-light border-bottom sticky-top" style="z-index: 1030;">
  <div class="container px-4 px-lg-5">

    <a class="navbar-brand mx-auto fw-bold fs-4 order-1 order-lg-2 text-dark" href="/listings">
      TECH <span class="text-danger">STACK</span>
    </a>

    <button class="navbar-toggler order-3 order-lg-1" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mt-3 mt-lg-0 order-4 w-100" id="navbarContent">
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center w-100 gap-3">

        <div class="d-flex justify-content-center w-100">
          <form class="d-flex w-10 w-md-75 w-lg-50" action="/listings/search" method="GET" role="search">
            <div class="input-group">
              <input class="form-control" type="search" name="q" placeholder="	Search Tech Topics" aria-label="Search"
                required>
              <button class="btn btn-danger" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>


        <div class="d-flex justify-content-lg-end gap-3">
          <% if (!currentuser) { %>
            <a class="nav-link fw-bold text-dark" href="/login">Admin</a>
            <% } else { %>
              <a class="nav-link fw-bold text-dark" href="/logout">Logout</a>
              <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- Tech Filter-->
<div class="border-bottom py-3 bg-white w-100 sticky-top" style="top: 59px; z-index: 1020;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-wrap justify-content-center gap-3 text-center">
          <% const filters=['programming', 'webdev' , 'frontend' , 'backend' , 'database' , 'tools' , 'devops'
            , 'security' , 'css' , 'js' ]; %>
            <% filters.forEach(f=> { %>
              <a href="/listings?category=<%= f %>"
                class="text-decoration-none <%= category === f ? 'text-danger fw-bold' : 'text-dark' %>">
                <%= f.charAt(0).toUpperCase() + f.slice(1) %>
              </a>
              <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>